
$font-primaire: 'Spartan', sans-serif;
$font-secondaire: 'Pacifico', cursive;

$color-contrast: #252c3b;
$color-second-contrast: #ff6347;
$color-dark: #858991;
$color-medium: #d1d1d1;
$color-light: #f4f3f2;
$color-white: #fff;
$color-shadow: #e7e6e5;

