@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');
$font-primaire: 'Spartan', sans-serif;
$font-secondaire: 'Sulphur Point', sans-serif;

$color-contrast: #252c3b;
$color-second-contrast: #ff6347;
$color-dark: #858991;
$color-medium: #d1d1d1;
$color-light: #f4f3f2;
$color-white: #fff;
$color-shadow: #e7e6e5;

